# Setup and Imports

In [1]:
import pandas as pd
import numpy as np
import warnings
from pandas.io import gbq
from sklearn.model_selection import train_test_split

# Get the Data

In [2]:
%%time
query = """
            SELECT incident_number, timestamp_of_call, incident_group, property_category, 
                    address_qualifier, borough_name, first_pump_arriving_attendance_time as first_time,
                    num_stations_with_pumps_attending as station_pumps, num_pumps_attending as pumps_attending,
                    FROM `gdac-327115.LondonFire.fire_brigade`
        """

london = gbq.read_gbq(query, project_id = "gdac-327115", location="eu")

Wall time: 7.97 s

In [148]:
def fetch_london_data(query_string, project_id, location):
    """
    This function fetches the london fire brigade data from Google BigQuery
    
    params:
        query_string - the string the contains the SQL code to query the data
        project-id - the unique project id for the Google BigQuery data
        location - where the data is being saved in Google BigQuery
        
    returns:
        data - queueried data
    """
    
    data = gbq.read_gbq(query_string, project_id = project_id, location=location)
    
    return data

In [3]:
#Check the shape
london.shape

(32247, 9)

In [4]:
#View the first few rows
london.head()

,incident_number,timestamp_of_call,incident_group,property_category,address_qualifier,borough_name,first_time,station_pumps,pumps_attending
0,000320-01012017,2017-01-01 15:30:22+00:00,False Alarm,Dwelling,Within same building,NOT GEO-CODED,<NA>,2,2
1,003727-09012017,2017-01-09 10:41:54+00:00,False Alarm,Dwelling,Correct incident location,NOT GEO-CODED,<NA>,2,2
2,003762-09012017,2017-01-09 12:28:39+00:00,False Alarm,Dwelling,Correct incident location,NOT GEO-CODED,<NA>,2,2
3,006403-16012017,2017-01-16 04:02:14+00:00,False Alarm,Dwelling,Correct incident location,NOT GEO-CODED,<NA>,2,2
4,010947-26012017,2017-01-26 11:14:03+00:00,False Alarm,Dwelling,Correct incident location,NOT GEO-CODED,<NA>,1,1

In [5]:
london.dtypes

incident_number                   object
timestamp_of_call    datetime64[ns, UTC]
incident_group                    object
property_category                 object
address_qualifier                 object
borough_name                      object
first_time                         Int64
station_pumps                      Int64
pumps_attending                    Int64
dtype: object

In [6]:
#Check for missing values
london.isnull().sum()

incident_number         0
timestamp_of_call       0
incident_group          0
property_category       0
address_qualifier       0
borough_name            0
first_time           1819
station_pumps          68
pumps_attending        68
dtype: int64

# Split the Data into Training and Test Sets

Since we are going to be predicting if the call is a false alarm, we'll want to our test observations to be the newest in the data set.

In [7]:
london["timestamp_of_call"].dt.year.value_counts()

2017    32247
Name: timestamp_of_call, dtype: int64

We see that all of our observations are from the same year, therefore we can just randomly split the data. However, let's first check the proportion of calls that ended up being a false alarm.

In [8]:
london["incident_group"].value_counts()

False Alarm        15732
Special Service    10081
Fire                6434
Name: incident_group, dtype: int64

Not all incidents were either a Fire or False Alarm. There is a third category, Special Service, as well. Since the entire purpose of this project is to reduce the number of false alarms that the department wastes its resources on, we'll combine Special Services and the Fire into one category called Emergency. We could have dropped all incidents with Special Service. However, the fire department has to respond to those types of calls so it's important to include them.

In [9]:
emergency = ["Special Service", "Fire"]

london["incident_group"].replace(emergency, "Emergency", inplace = True)

In [10]:
def make_emergencies(df):
    """
    This function combines the two different emergencies found in the data set. It then creates a new indicator column that
    contains 1 if the observation is a real emergency and 0 if not
    
    params:
        df - dataframe with the necessary columns
    """
    emergency = ["Special Service", "Fire"]
    df["incident_group"].replace(emergency, "Emergency", inplace = True)
    df["Emergency"] = (df["incident_group"] == "Emergency").astype(np.int64)

In [11]:
london["incident_group"].value_counts() / london.shape[0]

Emergency      0.512141
False Alarm    0.487859
Name: incident_group, dtype: float64

In [14]:
#Finally split the data
london_train, london_test = train_test_split(london, test_size = .16, stratify = london["incident_group"], random_state=42)

In [15]:
print(london_train.shape)
print(london_test.shape)

(27087, 9)
(5160, 9)

In [16]:
london_train.reset_index(drop=True, inplace = True)
london_train.head()

,incident_number,timestamp_of_call,incident_group,property_category,address_qualifier,borough_name,first_time,station_pumps,pumps_attending
0,022356-23022017,2017-02-23 10:04:57+00:00,Emergency,Non Residential,Correct incident location,HILLINGDON,<NA>,1,1
1,037795-29032017,2017-03-29 21:15:30+00:00,Emergency,Road Vehicle,Nearby address - no building in street,HAMMERSMITH AND FULHAM,510,2,2
2,004382-10012017,2017-01-10 21:18:51+00:00,False Alarm,Road Vehicle,Nearby address - street not listed in gazetteer,NEWHAM,254,1,1
3,032077-17032017,2017-03-17 09:30:52+00:00,Emergency,Dwelling,Correct incident location,BARKING AND DAGENHAM,466,1,1
4,034280-22032017,2017-03-22 01:58:17+00:00,Emergency,Dwelling,Correct incident location,LEWISHAM,218,1,1

# Clean the Data

### Make indicator variable for Emergency outcome

In [17]:
%%capture --no-stdout 
london_train["Emergency"] = (london_train["incident_group"] == "Emergency").astype(np.int64)

In [142]:
#Change the objects variables to categorical
#london_train.loc[:, london_train.dtypes == "object"] = london_train.select_dtypes(["object"]).apply(lambda x: x.astype("category"))

### Check for missing values

In [18]:
london_train.isnull().sum()

incident_number         0
timestamp_of_call       0
incident_group          0
property_category       0
address_qualifier       0
borough_name            0
first_time           1518
station_pumps          55
pumps_attending        55
Emergency               0
dtype: int64

### Incident Number

In [19]:
#Number of observations
london_train.shape[0]

27087

In [20]:
#Number of incidents
len(london_train["incident_number"].unique())

27087

As we'd hope, each observation in our data is a different reponse and there are no duplicates.

### Time

In [21]:
london_train["timestamp_of_call"].head()

0   2017-02-23 10:04:57+00:00
1   2017-03-29 21:15:30+00:00
2   2017-01-10 21:18:51+00:00
3   2017-03-17 09:30:52+00:00
4   2017-03-22 01:58:17+00:00
Name: timestamp_of_call, dtype: datetime64[ns, UTC]

### Create a Month variable

In [22]:
%%capture --no-stdout
london_train["Month"] = london_train["timestamp_of_call"].dt.month

In [23]:
london_train["Month"].value_counts().reset_index().rename(columns={"index":"Month", "Month":"Count"}).sort_values(by="Month")

   Month  Count
1      1   6884
3      2   6149
2      3   6701
0      4   7353

In [24]:
def create_month(df):
    """
    This function creates a column in the dataframe containing the month
    
    params:
        df - dataframe with necessary columns
    """
    df["Month"] = df["timestamp_of_call"].dt.month

### Create a Hour variable

In [25]:
%%capture --no-stdout
london_train["Hour"] = london_train["timestamp_of_call"].dt.hour

In [26]:
london_train["Hour"].value_counts().reset_index().rename(columns={"index":"Hour", "Hour":"Count"}).sort_values(by="Hour")

    Hour  Count
16     0    816
18     1    734
20     2    543
21     3    478
23     4    417
22     5    428
19     6    544
17     7    736
14     8   1007
12     9   1156
10    10   1275
9     11   1371
8     12   1398
7     13   1492
6     14   1515
3     15   1577
4     16   1566
2     17   1629
0     18   1834
1     19   1650
5     20   1557
11    21   1240
13    22   1135
15    23    989

In [27]:
def create_hour(df):
    """
    This function creates a column in the dataframe containing the hour
    
    params:
        df - dataframe with necessary columns
    """
    df["Hour"] = df["timestamp_of_call"].dt.hour

### Property Category

In [28]:
london_train["property_category"].value_counts()

Dwelling             12900
Non Residential       6433
Road Vehicle          2338
Outdoor               2184
Outdoor Structure     1663
Other Residential     1514
Aircraft                21
Boat                    19
Rail Vehicle            15
Name: property_category, dtype: int64

In [29]:
warnings.filterwarnings('ignore')
res = ["Dwelling", "Other Residential"]
london_train["property_category"].replace(res, "Residential", inplace = True)

vehicle = ["Road Vehicle", "Aircraft", "Boat", "Rail Vehicle"]
london_train["property_category"].replace(vehicle, "Vehicle", inplace = True)

london_train["property_category"].replace("Outdoor Structure", "Outdoor", inplace = True)

In [30]:
def merge_property(df):
    """
    This function combines categories found in the property category variable
    
    params:
        df - dataframe with the necessary variable
        
    """
    res = ["Dwelling", "Other Residential"]
    df["property_category"].replace(res, "Residential", inplace = True)

    vehicle = ["Road Vehicle", "Aircraft", "Boat", "Rail Vehicle"]
    df["property_category"].replace(vehicle, "Vehicle", inplace = True)

    df["property_category"].replace("Outdoor Structure", "Outdoor", inplace = True)

In [31]:
london_train["property_category"].value_counts()

Residential        14414
Non Residential     6433
Outdoor             3847
Vehicle             2393
Name: property_category, dtype: int64

### Address Qualifier

In [33]:
london_train["address_qualifier"].value_counts()

Correct incident location                          16186
Within same building                                4759
In street outside gazetteer location                2194
On land associated with building                    1763
In street close to gazetteer location                940
Open land/water - nearest gazetteer location         723
On motorway / elevated road                          152
Nearby address - no building in street               130
Nearby address - street not listed in gazetteer      103
In street remote from gazetteer location              96
Railway land or rolling stock                         41
Name: address_qualifier, dtype: int64

There are not too many different categories for the address qualifier variable. We'll combine a few of them based on logical relationships.

In [34]:
warnings.filterwarnings('ignore')
street = ["In street outside gazetteer location", "In street remote from gazetteer location", 
          "In street close to gazetteer location", "Open land/water - nearest gazetteer location"]
london_train["address_qualifier"].replace(street, "Gazetter", inplace = True)

nearby = ["Nearby address - no building in street", "Nearby address - street not listed in gazetteer"]
london_train["address_qualifier"].replace(nearby, "Nearby Address", inplace = True)

other = ["On motorway / elevated road", "Railway land or rolling stock"]
london_train["address_qualifier"].replace(other, "Other", inplace = True)

In [35]:
london_train["address_qualifier"].value_counts()

Correct incident location           16186
Within same building                 4759
Gazetter                             3953
On land associated with building     1763
Nearby Address                        233
Other                                 193
Name: address_qualifier, dtype: int64

In [36]:
def merge_address(df):
    """
    This function combines some of the categories together in the address qualifier variable.
    
    params:
        df - dataframe with the necessary columns
        
    """
    street = ["In street outside gazetteer location", "In street remote from gazetteer location", 
              "In street close to gazetteer location", "Open land/water - nearest gazetteer location"]
    df["address_qualifier"].replace(street, "Gazetter", inplace = True)

    nearby = ["Nearby address - no building in street", "Nearby address - street not listed in gazetteer"]
    df["address_qualifier"].replace(nearby, "Nearby Address", inplace = True)

    other = ["On motorway / elevated road", "Railway land or rolling stock"]
    df["address_qualifier"].replace(other, "Other", inplace = True)

### Borough Name

In [37]:
london_train["borough_name"].value_counts()

WESTMINSTER               2079
CAMDEN                    1259
SOUTHWARK                 1199
LAMBETH                   1155
TOWER HAMLETS             1133
HACKNEY                    984
CROYDON                    970
LEWISHAM                   908
NEWHAM                     894
EALING                     885
WANDSWORTH                 881
HILLINGDON                 874
BARNET                     866
BRENT                      846
GREENWICH                  844
KENSINGTON AND CHELSEA     841
ISLINGTON                  838
ENFIELD                    836
HAMMERSMITH AND FULHAM     762
BROMLEY                    761
HARINGEY                   747
WALTHAM FOREST             737
HOUNSLOW                   694
HAVERING                   603
REDBRIDGE                  599
BEXLEY                     554
BARKING AND DAGENHAM       547
MERTON                     520
RICHMOND UPON THAMES       473
HARROW                     467
SUTTON                     458
KINGSTON UPON THAMES       411
CITY OF LONDON             309
 NOT GEO-CODED             153
Name: borough_name, dtype: int64

We see that there is one category, "NOT GEO_CODED" that needs to be cleaned up for the borough name variable. Let's check if it has a corresponding postcode.

We see that the postcode won't be useful in finding the correct borough for the missing values. Let's look at the ward.

In [38]:
london_train.loc[london_train["borough_name"] == " NOT GEO-CODED", ["borough_name"]].value_counts()

borough_name
 NOT GEO-CODED    153
dtype: int64

We also see that every missing value for borough also has a corresponding missing value for ward. Therefore, we'll just drop the "NOT GEO-CODED" from borough.

In [39]:
%%capture --no-stdout
london_train["borough_name"].replace(" NOT GEO-CODED", np.nan, inplace=True)
london_train.dropna(subset=["borough_name"], inplace = True)

In [40]:
london_train["borough_name"].isnull().sum()

0

In [41]:
#Total number of boroughs
len(london_train["borough_name"].unique())

33

In [42]:
def drop_boroughs(df):
    """
    This function drops the boroughs that have missing values
    """
    df["borough_name"].replace(" NOT GEO-CODED", np.nan, inplace=True)
    df.dropna(subset=["borough_name"], inplace = True)

### First Pump Arriving Time

In [44]:
london_train["first_time"].isnull().sum()

1371

Before we impute the missing values with either a mean/median, we should look at the distribution to get a sense of the spread in arriving time.

In [45]:
london_train["first_time"].describe()

count    25563.000000
mean       317.597935
std        135.584824
min          2.000000
25%        231.000000
50%        298.000000
75%        378.000000
max       1196.000000
Name: first_time, dtype: float64

We can see that mean and median are relatively close which is good, not too much skew. However, we see that the max value is 1,196 seconds which is more than 6 standard deviations away so quite unlikely. To be conservative, lets see how many arriving times are more than 4 standard deviations above the mean.

In [46]:
pump_mean = np.mean(london_train["first_time"])
pump_std = np.std(london_train["first_time"])
#Any pump times above this should be flagged
cutoff_time = pump_mean + 4*pump_std
cutoff_time

859.9266234870261

In [47]:
london_train.loc[london_train["first_time"] > cutoff_time].shape

(175, 12)

In [48]:
london_train.loc[london_train["first_time"] > cutoff_time].head()

,incident_number,timestamp_of_call,incident_group,property_category,address_qualifier,borough_name,first_time,station_pumps,pumps_attending,Emergency,Month,Hour
160,029602-11032017,2017-03-11 16:15:51+00:00,False Alarm,Vehicle,Nearby Address,EALING,860,1,1,0,3,16
631,016287-08022017,2017-02-08 10:43:32+00:00,False Alarm,Non Residential,Correct incident location,TOWER HAMLETS,924,1,1,0,2,10
636,001296-03012017,2017-01-03 19:23:32+00:00,False Alarm,Outdoor,Gazetter,ENFIELD,950,1,1,0,1,19
747,034387-22032017,2017-03-22 11:35:14+00:00,False Alarm,Residential,Nearby Address,BRENT,1041,2,3,0,3,11
1168,006149-15012017,2017-01-15 13:57:01+00:00,Emergency,Residential,Correct incident location,MERTON,1037,1,1,1,1,13

We can go ahead and drop those times that are more than 4 standard deviations above the mean arriving time.

In [49]:
london_train = london_train.loc[(london_train["first_time"] < cutoff_time) | london_train["first_time"].isnull()]

In [50]:
london_train.shape

(26759, 12)

Now we can go ahead and impute the missing values.

In [51]:
london_train.loc[london_train["first_time"].notnull()].head()

,incident_number,timestamp_of_call,incident_group,property_category,address_qualifier,borough_name,first_time,station_pumps,pumps_attending,Emergency,Month,Hour
1,037795-29032017,2017-03-29 21:15:30+00:00,Emergency,Vehicle,Nearby Address,HAMMERSMITH AND FULHAM,510,2,2,1,3,21
2,004382-10012017,2017-01-10 21:18:51+00:00,False Alarm,Vehicle,Nearby Address,NEWHAM,254,1,1,0,1,21
3,032077-17032017,2017-03-17 09:30:52+00:00,Emergency,Residential,Correct incident location,BARKING AND DAGENHAM,466,1,1,1,3,9
4,034280-22032017,2017-03-22 01:58:17+00:00,Emergency,Residential,Correct incident location,LEWISHAM,218,1,1,1,3,1
5,023171-24022017,2017-02-24 08:21:47+00:00,False Alarm,Non Residential,Correct incident location,HACKNEY,251,1,1,0,2,8

We can impute the mean by using which station the first pump came from.

In [53]:
#Group by property type and summarize by the Emergency variable
pump_time_grp = london_train.groupby("borough_name")["first_time"]\
                        .aggregate(["median","mean", "std", "max", "min","count"])\
                        .sort_values(by="mean", ascending=False)
pump_time_grp.reset_index(inplace = True)
pump_time_grp

              borough_name  median        mean         std  max  min  count
0               HILLINGDON   350.0   363.32304  133.810193  858    2    842
1                  BROMLEY   348.0   358.53719  142.814896  829    3    726
2                  ENFIELD   336.0  356.557814  136.218271  854    4    787
3                   HARROW   323.5  348.122768  124.775523  850   85    448
4                REDBRIDGE   324.0  344.755712  136.723036  855    4    569
5                   BEXLEY   334.0   343.16129  132.456014  823    3    527
6                 HAVERING   317.0  340.963478  131.072647  852    3    575
7                   BARNET   325.0  337.756919  116.370994  819    3    831
8                    BRENT   319.0  337.333747  120.643498  838    6    806
9     RICHMOND UPON THAMES   328.5  335.398268  126.246967  836    3    462
10    BARKING AND DAGENHAM   321.0   329.86444  113.465747  804   24    509
11                  MERTON   307.0  326.014141  130.376929  836    2    495
12               GREENWICH   303.0  323.742675  129.922465  849    7    785
13                  SUTTON   314.5     323.075  113.456328  819    3    440
14                HOUNSLOW   317.0  322.046225  123.665685  819    3    649
15    KINGSTON UPON THAMES   298.0  321.989924  128.148391  828   33    397
16                  EALING   297.0  318.980838  133.463293  831    8    835
17                HARINGEY   307.0     315.175  119.264365  833    2    720
18                  NEWHAM   298.0  312.356197  121.272096  858    3    831
19                 CROYDON   294.0  309.842781  125.349566  834    3    935
20             WESTMINSTER   287.0  307.897344  117.486590  829    3   1958
21                  CAMDEN   294.0  305.395428  122.561255  823    3   1181
22          CITY OF LONDON   282.0  302.962712  120.135250  813    3    295
23          WALTHAM FOREST   277.0  297.329149  128.891375  850    2    717
24  HAMMERSMITH AND FULHAM   283.0  296.808219  114.163764  816    3    730
25               SOUTHWARK   278.0  293.485533  108.631888  848    3   1106
26              WANDSWORTH   278.0  291.989273  109.225615  845    4    839
27                 HACKNEY   279.0  290.956032  114.075711  803    2    887
28                LEWISHAM   270.0  285.384971  117.563885  831    3    865
29               ISLINGTON   265.0  279.884319  107.154849  859    2    778
30                 LAMBETH   262.0  277.077947  112.510905  850    2   1052
31           TOWER HAMLETS   265.0   276.55848  106.198659  781    2   1026
32  KENSINGTON AND CHELSEA   250.0  263.932484  100.224018  754    3    785

In [54]:
london_train["first_time"] = london_train["first_time"].astype(np.float64)
london_train["first_time"] = london_train.groupby("borough_name")["first_time"].\
                                                transform(lambda grp: grp.fillna(np.mean(grp)))

In [55]:
london_train["first_time"].isnull().sum()

0

In [56]:
london_train.head()

,incident_number,timestamp_of_call,incident_group,property_category,address_qualifier,borough_name,first_time,station_pumps,pumps_attending,Emergency,Month,Hour
0,022356-23022017,2017-02-23 10:04:57+00:00,Emergency,Non Residential,Correct incident location,HILLINGDON,363.32304,1,1,1,2,10
1,037795-29032017,2017-03-29 21:15:30+00:00,Emergency,Vehicle,Nearby Address,HAMMERSMITH AND FULHAM,510.00000,2,2,1,3,21
2,004382-10012017,2017-01-10 21:18:51+00:00,False Alarm,Vehicle,Nearby Address,NEWHAM,254.00000,1,1,0,1,21
3,032077-17032017,2017-03-17 09:30:52+00:00,Emergency,Residential,Correct incident location,BARKING AND DAGENHAM,466.00000,1,1,1,3,9
4,034280-22032017,2017-03-22 01:58:17+00:00,Emergency,Residential,Correct incident location,LEWISHAM,218.00000,1,1,1,3,1

In [57]:
def arriving_time(df):
    """
    This function removes the values that are more than 4 standard deviations above the mean and imputes the missing values
    based on the station mean
    """
    pump_mean = np.mean(df["first_time"])
    pump_std = np.std(df["first_time"])
    #Any pump times above this should be flagged
    cutoff_time = pump_mean + 4*pump_std
    
    df = df.loc[(df["first_time"] < cutoff_time) | df["first_time"].isnull()]
    
    df["first_time"] = df["first_time"].astype(np.float64)
    df["first_time"] = df.groupby("borough_name")["first_time"].\
                                                transform(lambda grp: grp.fillna(np.mean(grp)))
    return df

### Number of Stations with Pumps Attending

In [58]:
london_train["station_pumps"].isnull().sum()

53

In [59]:
london_train["station_pumps"].describe()

count    26706.000000
mean         1.354864
std          0.607509
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          6.000000
Name: station_pumps, dtype: float64

In [60]:
london_train["station_pumps"].value_counts()

1    18739
2     6796
3      851
4      304
5       13
6        3
Name: station_pumps, dtype: Int64

We see that only a very small amount of stations had more than 5 pumps attending. Therefore, we'll go ahead and drop any observations that have more than 5 pumps attending.

In [61]:
london_train = london_train.loc[(london_train["station_pumps"] < 5) | (london_train["station_pumps"].isnull())]

Now we can impute the missing values using the mean from which station the attending pumps came from.

In [62]:
#Group by property type and summarize by the Emergency variable
station_pump_grp = london_train.groupby("borough_name")["station_pumps"]\
                        .aggregate(["median","mean", "std", "max", "min","count"])\
                        .sort_values(by="mean", ascending=False)
station_pump_grp.reset_index(inplace = True)
station_pump_grp

              borough_name  median      mean       std  max  min  count
0                 LEWISHAM     1.0  1.553097  0.679922    4    1    904
1            TOWER HAMLETS     1.0  1.498662  0.817361    4    1   1121
2                SOUTHWARK     1.0  1.473154  0.681494    4    1   1192
3               WANDSWORTH     1.0  1.461802  0.700595    4    1    877
4   KENSINGTON AND CHELSEA     1.0  1.454654  0.571920    4    1    838
5               HILLINGDON     1.0  1.449074  0.684000    4    1    864
6                ISLINGTON     1.0  1.438175  0.640262    4    1    833
7     KINGSTON UPON THAMES     1.0  1.422983  0.629784    4    1    409
8                   NEWHAM     1.0  1.405192  0.670219    4    1    886
9                 HAVERING     1.0  1.389262  0.543396    4    1    596
10                  EALING     1.0  1.384083  0.603206    4    1    867
11                  BEXLEY     1.0  1.372694  0.574755    4    1    542
12                  BARNET     1.0  1.369895  0.581795    4    1    857
13  HAMMERSMITH AND FULHAM     1.0  1.366271  0.553445    4    1    759
14               REDBRIDGE     1.0  1.355442  0.578891    4    1    588
15          CITY OF LONDON     1.0  1.352941  0.852926    4    1    306
16          WALTHAM FOREST     1.0  1.349315  0.541710    4    1    730
17                  HARROW     1.0  1.342733  0.531299    4    1    461
18                  CAMDEN     1.0  1.333599  0.609139    4    1   1253
19                   BRENT     1.0  1.328571  0.551641    4    1    840
20                  MERTON     1.0  1.325536  0.508973    4    1    513
21                  SUTTON     1.0  1.315673  0.510636    4    1    453
22    RICHMOND UPON THAMES     1.0  1.313433  0.520776    4    1    469
23                 HACKNEY     1.0  1.311861  0.595000    4    1    978
24                 CROYDON     1.0   1.29668  0.512714    4    1    964
25                HOUNSLOW     1.0  1.282799  0.547239    4    1    686
26               GREENWICH     1.0  1.281287  0.545776    4    1    839
27                 BROMLEY     1.0  1.277188  0.536908    4    1    754
28                 LAMBETH     1.0  1.264035  0.545977    4    1   1140
29                 ENFIELD     1.0  1.255422  0.540128    4    1    830
30                HARINGEY     1.0  1.247645  0.498560    4    1    743
31             WESTMINSTER     1.0   1.21519  0.480950    4    1   2054
32    BARKING AND DAGENHAM     1.0  1.191176  0.458434    3    1    544

In [63]:
london_train["station_pumps"] = london_train["station_pumps"].astype(np.float64)
london_train["station_pumps"] = london_train.groupby("borough_name")["station_pumps"].\
                                                transform(lambda grp: grp.fillna(np.mean(grp)))

In [64]:
london_train["station_pumps"].isnull().sum()

0

In [66]:
def station_pumps(df):
    """
    This function removes any stations that have more than 5 pumps attending and imputes the missing values with the
    mean number of pump by stations.
    
    params:
        df - dataframe with the necessary columns
    """
    df = df.loc[(df["station_pumps"] < 5) | (df["station_pumps"].isnull())]
    df["station_pumps"] = df["station_pumps"].astype(np.float64)
    df["station_pumps"] = df.groupby("borough_name")["station_pumps"].\
                                                transform(lambda grp: grp.fillna(np.mean(grp)))
    df["station_pumps"] = df["station_pumps"].astype(np.str)
    return df

### Number of Pumps Attending

In [67]:
london_train["pumps_attending"].isnull().sum()

53

In [68]:
london_train["pumps_attending"].describe()

count    26690.000000
mean         1.533496
std          0.732408
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          6.000000
Name: pumps_attending, dtype: float64

In [69]:
london_train["pumps_attending"].value_counts()

1    15497
2     8902
3     1569
4      692
5       27
6        3
Name: pumps_attending, dtype: Int64

We'll go ahead and drop any pumps that are greater than 4.

In [70]:
london_train = london_train.loc[(london_train["pumps_attending"] < 5) | (london_train["pumps_attending"].isnull())]

In [71]:
#Group by property type and summarize by the Emergency variable
pump_grp = london_train.groupby("borough_name")["pumps_attending"]\
                        .aggregate(["median","mean", "std", "max", "min","count"])\
                        .sort_values(by="mean", ascending=False)
pump_grp.reset_index(inplace = True)
pump_grp

              borough_name  median      mean       std  max  min  count
0               HILLINGDON     1.0  1.629501  0.761585    4    1    861
1   KENSINGTON AND CHELSEA     2.0  1.609785  0.678567    4    1    838
2                   BARNET     1.0  1.596963  0.718960    4    1    856
3               WANDSWORTH     1.0   1.59589  0.774556    4    1    876
4   HAMMERSMITH AND FULHAM     1.0  1.591568  0.688567    4    1    759
5                   CAMDEN     1.0  1.587061  0.812330    4    1   1252
6                REDBRIDGE     1.0  1.577513  0.700101    4    1    587
7                 LEWISHAM     1.0  1.570321  0.688264    4    1    903
8     RICHMOND UPON THAMES     1.0  1.569296  0.687181    4    1    469
9                 HARINGEY     1.0  1.559892  0.747939    4    1    743
10                  HARROW     1.0  1.555556  0.663018    4    1    459
11                HOUNSLOW     1.0  1.554905  0.708858    4    1    683
12    KINGSTON UPON THAMES     1.0  1.553922  0.716279    4    1    408
13                 HACKNEY     1.0  1.549642  0.753300    4    1    977
14                  BEXLEY     1.0  1.542435  0.725205    4    1    542
15                   BRENT     1.0  1.539928  0.711659    4    1    839
16                 CROYDON     1.0  1.539022  0.683730    4    1    961
17                  EALING     1.0  1.538106  0.720663    4    1    866
18               SOUTHWARK     1.0  1.530201  0.733573    4    1   1192
19                 LAMBETH     1.0  1.514938  0.745698    4    1   1138
20           TOWER HAMLETS     1.0  1.512935  0.829190    4    1   1121
21               ISLINGTON     1.0  1.503001  0.707313    4    1    833
22                 ENFIELD     1.0  1.499395  0.735431    4    1    827
23                  SUTTON     1.0   1.49115  0.626405    4    1    452
24             WESTMINSTER     1.0  1.488315  0.712159    4    1   2054
25               GREENWICH     1.0  1.488067  0.716240    4    1    838
26                 BROMLEY     1.0  1.488032  0.694176    4    1    752
27          WALTHAM FOREST     1.0  1.487671  0.662941    4    1    730
28    BARKING AND DAGENHAM     1.0  1.463235  0.709401    4    1    544
29                HAVERING     1.0  1.434564  0.608688    4    1    596
30                  NEWHAM     1.0  1.430023  0.696368    4    1    886
31                  MERTON     1.0  1.384016  0.575117    4    1    513
32          CITY OF LONDON     1.0  1.360656  0.855185    4    1    305

In [72]:
london_train["pumps_attending"] = london_train["pumps_attending"].astype(np.float64)
london_train["pumps_attending"] = london_train.groupby("borough_name")["pumps_attending"].\
                                                transform(lambda grp: grp.fillna(np.mean(grp)))

In [73]:
def pumps_attending(df):
    """
    This function removes any pumps that are greater than 5 and imputes the missing number of pumps with the mean number of 
    pumps per station
    
    params:
        df - dataframe with necessary columns
    """
    df = df.loc[(df["pumps_attending"] < 5) | (df["pumps_attending"].isnull())]
    df["pumps_attending"] = df["pumps_attending"].astype(np.float64)
    df["pumps_attending"] = df.groupby("borough_name")["pumps_attending"].\
                                                transform(lambda grp: grp.fillna(np.mean(grp)))
    df["pumps_attending"] = df["pumps_attending"].astype(np.str)
    return df

In [74]:
london_train["pumps_attending"].isnull().sum()

0

# Create a Wrapper Function

In [86]:
def clean_london(df, add_emergencies=True, make_month=True, make_hour=True, clean_property=True,
                clean_address=True, clean_boroughs=True, clean_arriving_time=True, clean_station_pumps=True, 
                 clean_pumps_attending=True, verbose=False):
    
    if verbose: print("Cleaning London Data Started...\n")
        
    if add_emergencies:
        make_emergencies(df)
        if verbose: print("Sucessfully Added Emergency Column!")
            
    if make_month:
        create_month(df)
        if verbose: print("Sucessfully Added Month Column!")
            
    if make_hour:
        create_hour(df)
        if verbose: print("Sucessfully Added Hour Column!")
            
    if clean_property:
        merge_property(df)
        if verbose: print("Sucessfully Cleanded Property Category!")
            
    if clean_address:
        merge_address(df)
        if verbose: print("Sucessfully Cleaned Address!")
            
    if clean_boroughs:
        drop_boroughs(df)
        if verbose: print("Sucessfully Cleaned Borough Names!")
            
    if clean_arriving_time:
        df = arriving_time(df)
        if verbose: print("Sucessfully Cleaned Station Arriving Time!")
            
    if clean_station_pumps:
        df = station_pumps(df)
        if verbose: print("Sucessfully Cleaned Number of Stations with Pumps!")
            
    if clean_pumps_attending:
        df = pumps_attending(df)
        if verbose: print("Sucessfully Cleaned Number of Pumps Attending!")
            
    df = df.drop(["incident_number", "incident_group", "timestamp_of_call"], axis = 1, inplace = False)
    if verbose: print("Sucessfully Dropped Unecessary Columns!")
    
    if verbose: print("\nSucessfully Cleaned London Data!")
        
    return df

## Clean the Training Data

In [76]:
%%time
query = """
            SELECT incident_number, timestamp_of_call, incident_group, property_category, 
                    address_qualifier, borough_name, first_pump_arriving_attendance_time as first_time,
                    num_stations_with_pumps_attending as station_pumps, num_pumps_attending as pumps_attending,
                    FROM `gdac-327115.LondonFire.fire_brigade`
        """

london = gbq.read_gbq(query, project_id = "gdac-327115", location="eu")

Wall time: 5.12 s

In [95]:
london_train, london_test = train_test_split(london, test_size = .16, stratify = london["incident_group"], random_state=42)

In [88]:
london_train.shape

(27087, 9)

In [89]:
warnings.filterwarnings('ignore')
london_train = clean_london(df = london_train, verbose = True)

Cleaning London Data Started...

Sucessfully Added Emergency Column!
Sucessfully Added Month Column!
Sucessfully Added Hour Column!
Sucessfully Cleanded Property Category!
Sucessfully Cleaned Address!
Sucessfully Cleaned Borough Names!
Sucessfully Cleaned Station Arriving Time!
Sucessfully Cleaned Number of Stations with Pumps!
Sucessfully Cleaned Number of Pumps Attending!
Sucessfully Dropped Unecessary Columns!

Sucessfully Cleaned London Data!

In [90]:
london_train.shape

(26719, 9)

In [91]:
london_train.isnull().sum()

property_category    0
address_qualifier    0
borough_name         0
first_time           0
station_pumps        0
pumps_attending      0
Emergency            0
Month                0
Hour                 0
dtype: int64

## Clean the Test Data

Before we move on to data visualizations, let's make sure we can clean the test data. We should expect it to work since both the training and test data come from the same source.

In [96]:
#Check the number of missing values
london_test.isnull().sum()

incident_number        0
timestamp_of_call      0
incident_group         0
property_category      0
address_qualifier      0
borough_name           0
first_time           294
station_pumps         16
pumps_attending       16
dtype: int64

In [97]:
london_test.shape

(5160, 9)

In [98]:
london_test = clean_london(df = london_test, verbose = True)

Cleaning London Data Started...

Sucessfully Added Emergency Column!
Sucessfully Added Month Column!
Sucessfully Added Hour Column!
Sucessfully Cleanded Property Category!
Sucessfully Cleaned Address!
Sucessfully Cleaned Borough Names!
Sucessfully Cleaned Station Arriving Time!
Sucessfully Cleaned Number of Stations with Pumps!
Sucessfully Cleaned Number of Pumps Attending!
Sucessfully Dropped Unecessary Columns!

Sucessfully Cleaned London Data!

In [99]:
london_test.shape

(5089, 9)

In [100]:
london_test.isnull().sum()

property_category    0
address_qualifier    0
borough_name         0
first_time           0
station_pumps        0
pumps_attending      0
Emergency            0
Month                0
Hour                 0
dtype: int64